{{#with car}}
<h1>{{name}}</h1>
<img class="cube" src="/public/assets/cars/{{imageUrl}}">
<div class="details">
  <p><span>Description:</span> {{description}}</p>
  <p><span>Price:</span> {{price}}</p>
  {{#if isOwner}}
  <a href="/attach/{{id}}" class="btn">Attach accessory</a>
  <a href="/edit/{{id}}" class="btn">Edit</a>
  <a href="/delete/{{id}}" class="btn">Delete</a>
  {{/if}}
  <a class="btn" href="/">Back</a>
</div>
<h2>Accessories</h2>
<div class="accessories">
  {{#each accessories}}
  {{> accessoryCard}}
  {{else}}
  <h3 class="italic">This car has no accessories yet...</h3>
  {{/each}}
</div>
{{/with}}